@use 'constants' as *;

.countdown-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 249, 250, 0.9); // Semi-transparent background
    z-index: 10;
    font-size: 6em;
    color: $primary-color;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
}
